@font-face {
    font-family: "Sports Heading";
    src: url(fonts/azn-unified.oblique.otf);
}

@font-face {
    font-family: "Sports Body";
    src: url(fonts/forgotten-futurist.rg-regular.otf);
}

:root {
    --background-primary: #212529;
    --background-secondary: #343a40;
    --content: #f1f3f5;
    --accent: #f03e3e;
    --accent-secondary: #f76707;
    --transition: 0.35s;
}

body {
    width: 100vw;
    height: 100vh;

    padding: 0;
    margin: 0;

    font-family: "Sports Body", sans-serif;

    background-color: var(--background-primary);
    color: var(--content);
}

header {
    top: 0;

    height: 6em;

    z-index: 5;

    box-shadow: 0 0 1em var(--background-primary);
}

#greeting {
    margin-top: 6em;

    height: 40em;

    background-image: url("imgs/main/bacon-burger.webp");
    /* background-size: contain; */
    background-size: cover;
    /* background-position: 100% 80%; */
    background-position: 100% 80%;
    background-repeat: no-repeat;
    background-color: #1f1f27;
}

#greeting-text {
    max-width: 30em;
}

#hamburger-button, #hamburger-menu {
    display: none;
}

.full-width {
    width: 100%;
}

.hw-container {
    width: 50%;
    max-width: 50%;
}

.tw-container {
    width: 33%;
    max-width: 33%;
}

.mc-container {
    width: 70%;
}

.full-height {
    height: 100%;
}

.row {
    display: flex;
    flex-direction: row;
}

.column {
    display: flex;
    flex-direction: column;
}

/* flex no assume height */
.flex-nah {
    align-items: flex-start;
}

.g-s-padding {
    padding: 0 0.5em;
}

.sm-gap {
    gap: 1em;
}

.md-gap {
    gap: 2em;
}

.grow {
    flex-grow: 1;
}

.x-center {
    display: flex;

    justify-content: center;
}

.y-center {
    display: flex;

    align-items: center;
}

.xy-center {
    display: flex;

    justify-content: center;
    align-items: center;
}

.text-center {
    text-align: center;
}

.skew-x {
    transform: skewX(-20deg);
}

.sm-padding {
    padding: 1em;
}

.heading {
    font-family: "Sports Heading";
}

.xl-text {
    font-size: 4em;
}

.lg-text {
    font-size: 3.75em;

    /* margin: 0;
    padding: 0; */
}

.md-text {
    font-size: 2.5em;

    vertical-align: middle;
}

.sm-text {
    font-size: 1.25em;
}

.no-select {
    user-select: none;
}

.fixed {
    position: fixed;
}

.border-sizing {
    box-sizing: border-box;
}

.bg-primary {
    background-color: var(--background-primary);
}

.bg-secondary {
    background-color: var(--background-secondary);
}

.content-container {
    display: flex;
    flex-direction: column;

    gap: 1em;
}

.card {
    padding: 2em;

    background-color: var(--background-secondary);

    box-shadow: 0 0 2em var(--background-primary);
}

.card img {
    height: 100%;
}

.button {
    padding: 0.75em;

    color: var(--content);
    background-color: var(--accent);

    border-radius: 0.75em 0 0.75em 0;

    font-size: 1.5em;
    text-decoration: none;
    text-transform: uppercase;
    white-space: nowrap;

    transform: skewX(-20deg) translateX(-0.555em);
    transition: var(--transition);

    user-select: none;
    cursor: pointer;
}

.button:hover{
    background-color: #ee8730;
    text-decoration: none;

    border: 0;

    transform: scale(1.05) skewX(-20deg) translateX(-0.555em);
    transition: var(--transition);
}