@font-face {
    font-family: "Sports Heading";
    src: url(fonts/azn-unified.oblique.otf);
}

@font-face {
    font-family: "Sports Body";
    src: url(fonts/forgotten-futurist.rg-regular.otf);
}

:root {
    --background-primary: #222;
    --background-secondary: #555;
    --content: #fff;
    --transition: 0.35s;
}

body {
    width: 100vw;
    height: 100vh;

    padding: 0;
    margin: 0;

    font-family: "Sports Body", sans-serif;

    background-color: var(--background-primary);
    color: var(--content);
}

header {
    top: 0;

    height: 6em;

    background-color: var(--background-secondary);
}

#hamburger-button, #hamburger-menu {
    display: none;
}

.full-width {
    width: 100%;
}

.full-height {
    height: 100%;
}

.row {
    display: flex;
    flex-direction: row;
}

.skew-x {
    transform: skewX(-20deg);
}

.sm-gap {
    gap: 1em;
}

.grow {
    flex-grow: 1;
}

.sm-padding {
    padding: 1em;
}

.heading {
    font-family: "Sports Heading";
}

.lg-text {
    font-size: 3em;

    margin: 0;
    padding: 0;
}

.fixed {
    position: fixed;
}

.border-sizing {
    box-sizing: border-box;
}

.bg-primary {
    background-color: var(--background-primary);
}

.bg-secondary {
    background-color: var(--background-secondary);
}

.button {
    padding: 0.75em;

    color: #f8f9fa;
    background-color: #c92a2a;

    border-radius: 0.75em 0 0.75em 0;

    font-size: 1.5em;
    text-decoration: none;
    text-transform: uppercase;
    white-space: nowrap;

    transform: skewX(-20deg) translateX(-0.555em);
    transition: var(--transition);

    user-select: none;
    cursor: pointer;
}

.button:hover{
    background-color: #ee8730;
    text-decoration: none;

    border: 0;

    transform: scale(1.05) skewX(-20deg) translateX(-0.555em);
    transition: var(--transition);
}